{{ define "content" }}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Nous contacter</h1>
            </div>
            <div class="col-md-5">
                <ol class="breadcrumb pull-right">
                    <li><a href="/">Accueil</a></li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content content-light">
    <div class="container">
        <p class="header text-center">N'hésitez pas à <strong>nous contacter</strong></p>
        <p class="text-center">Pour toutes questions ou suggestions, nous sommes toujours heureux de vous parler !
</p>

        <hr class="invisible">
        <hr class="invisible">

        <div class="row">
            <div class="col-md-3">
                <strong>Choisissez votre méthode :</strong>
            </div>
            <div class="col-md-9">
                <i class="fa fa-phone"></i> +1 (450) 504-4381<br>
                <i class="fa fa-twitter"></i> <a href="https://twitter.com/focuscentric">@focuscentric</a><br>
                <i class="fa fa-envelope"></i> <a href="mailto:support@focuscentric.com">support@focuscentric.com</a><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <strong>Heure d'ouverture</strong>
            </div>
            <div class="col-md-9">
                <p>
                    Lundi au vendredi de 9 h à 16 h (heure normale de l'Est — Montréal)
                </p>
                <p>
                    Nous sommes fermés les fins de semaine et jours fériés.
                </p>
            </div>
        </div>
    </div>
</section>
{{ end }}