{{ define "content" }}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>{{.CurrentEpisode.Title}}</h1>
            </div>
            <div class="col-md-5">
                <ol class="breadcrumb pull-right">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/production/{{.CurrentProduction.Slug}}">Formation</a></li>
                    <li class="active">Épisode</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section id="preview" class="content content-dark">
    <p class="header text-center text-white">{{.CurrentEpisode.Title}}</p>
    <div class="row">
      {{if .CurrentProduction.CurrentPrice}}
        <div class="col-md-4">
          <p>Cette formation fait partie d'une production payante.</p>
        </div>
        <div class="col-md-4">
          <h2>
            {{if .CurrentProduction.SalesPrice}}
              <span class="currency">{{.CurrentProduction.SalesPrices}}</span>
            {{else}}
              <span class="currency">{{.CurrentProduction.Price}}</span>
            {{end}}
          </h2>
        </div>
        <div class="col-md-4">
          <a href="/production/{{.CurrentProduction.Slug}}" class="btn btn-primary btn-lg">Acheter la formation</button>
        </div>
      {{else}}
        <iframe width="960" height="540" src="{{.CurrentEpisode.YoutubeURL}}" frameborder="0" allowfullscreen></iframe>
      {{end}}
    </div>
</section>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="header text-center">Description</p>
                {{.CurrentEpisode.Description}}

                <hr class="invisible" />
                <div class="blue-box video-social">
                    <div class="row">
                        <div class="col-md-12">
                          Merci de partager si vous trouvez cette formation utile.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content content-dark">
    <div class="container">
        <p class="header text-center">Les <strong>{{.CurrentProduction.EpisodeCount}} épisodes</strong> pour cette formation</p>
        <p class="text-center">
            <a href="/production/{{.CurrentProduction.Slug}}">{{.CurrentProduction.Title}}</a>
        </p>

        <div class="row" style="text-align: left;">
          {{range .CurrentProduction.Episodes}}
            {{ template "episode" . }}
          {{end}}
        </div>
    </div>
</section>
{{end}}
