{{ define "content" }}
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Oups...</h1>
      </div>
      <div class="col-md-5">
        <ol class="breadcrumb pull-right">
          <li><a href="/">Accueil</a></li>
          <li class="active">Erreur</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<section class="content content-light">
  <div class="container">
    <p class="header text-center">Une erreur est survenue</p>
    <p class="text-center">
      Nous venons de migrer le site vers Go.
    </p>

    <hr class="invisible">
    <hr class="invisible">

    <div class="row">
      <div class="col-md-12">
        
        <p>Il semblerait que quelque chose ne soit pas correctement géré.</p>
        <p>Si le problême persiste n'hésitez pas à nous <a href="/contact">contacter</a>.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}