{{define "content"}}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Politique de vie privée</h1>
            </div>
            <div class="col-md-5">
                <ol class="breadcrumb pull-right">
                    <li><a href="/">Accueil</a></li>
                    <li class="active">vie privée</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content content-light">
    <div class="container">
        <blockquote>
            <strong>TL:DR</strong> : S.V.P., aidez-nous à rester en affaire en ne partageant pas nos productions payantes. Également, nous ne ferons rien de mal avec vos informations et certainement les distribuer a qui que ce soit.
        </blockquote>
        <p>
            Respecter nos efforts.
        </p>
        <p>
            Nous travaillons fort pour créer des formations et nous pensons que le prix est justifié et abordable. Si vous n'êtes pas d'accord, veuillez nous le spécifier. Vous verrez que nous répondons très rapidement et dans certains cas nous pourrions revoir à la baisse le prix de certaines productions.
        </p>

        <h2>La licence de téléchargement</h2>
        <p>
            Lors de l'achat d'une formation, vous avez un accès à télécharger les vidéos pour une utilisation personnelle. Nous pouvons faire des prix de groupe également. Si vous êtes un groupe, veuillez nous contacter.
        </p>
        <p>
            Vous pouvez diffuser une vidéo pour un « User Group » ou un « Dev Meeting », mais nous aimerions être avisé et si possible de faire passer le mot à vos membres.
        </p>
        <p>
            Ce sont les ventes qui nous permettent de continuer à créer des formations. Nous vous demandons de ne pas partager ce que vous téléchargez. Merci.
        </p>

        <h2>Les retours</h2>
        <p>
            Nous sommes persuadés que vous allez apprécier et allez apprendre de nos formations. Si tel n'est pas le cas, nous vous rembourserons dans les 15 jours suivants votre achat.
        </p>
        <h2>Information privée</h2>
        <p>
            Vos informations sont importantes pour nous. Chez Focus Centric nous adhérons à ces principes fondamentaux :
        </p>
        <p>
            Nous ne vous demanderons jamais d'information privée sans que nous en aillions vraiment de besoin.
        </p>
        <p>
            Nous ne conservons pas vos informations de crédit sur nos serveurs. Seules les informations relatives aux opérations et à la navigation sont conservées.
        </p>
        <p>
            Voici notre politique relative aux informations privées.
        </p>
        <p>
            Focus Centric inc. qui opère le site web focuscentric.com. Focus Centric s'engage à protéger les informations que vous nous fournissez pour les opérations du site web.
        </p>
        <h2>Visiteur du site web</h2>
        <p>
            Comme la plupart des sites web Focus Centric recueil des informations non personnelles tel que la version et nom de votre navigateur, votre langue par défaut, le site web ayant référé votre visite, etc. Le but étant d'analyser comment les visiteurs du site web utilisent les pages pour mieux optimiser la navigation dans le future.
        </p>
        <h2>Cueillette d'information personnelle</h2>
        <p>
            Certains visiteurs du site web interagissent de sorte que nous devons récupérer des informations personnelles. Ces informations dépendent du type d'interaction désiré. Les informations financières lors d'une transaction ne sont pas conservées sur les serveurs de Focus Centric. La communication avec le service de prise de paiement se fait sous un lien sécurisé (SSL).
        </p>
        <p>
            Vous avez accès en tout temps à modifier ou supprimer les informations liées à votre compte utilisateur Focus Centric.
        </p>
    </div>
</section>

{{end}}